#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*background: red;*/
    display: block;
}

#app {
    height: 100%;
}

#app > div {
    height: 100%;
}

#app > div > div:not(:first-child)  {
    height: 100%;
}

html, body {
    height: 100%;
}

.form-group {
    margin-top: 15px;
    display: inline-block;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

body {
    padding-top:40px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
    